{%- assign page_language = page.collection | default: site.anurina.locale.default | default: 'en-US' -%}
{%- assign locales = site.anurina.locale.sequence -%}
{%- assign page_id = page.id | replace: page_language, "" -%}
{%- assign translated_pages = site.documents | where: "id", page.id -%}
{%- for document in site.documents -%}
  {%- if document.id != page.id -%}
    {%- assign document_language = document.collection -%}
    {%- assign document_id = document.id | replace: document_language, ""  -%}
    {%- if page_id == document_id -%}
      {%- assign translated_pages = translated_pages | push: document -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- assign translated_pages = translated_pages | sort: "collection" -%}
{%- assign flag_pages = "" | split: ',' -%}
{%- for locale in locales -%}
  {%- assign translated_page = translated_pages | where: "collection", locale | first -%}
  {%- if translated_page %}
    {% assign flag_pages = flag_pages | push: translated_page %}
  {%- endif -%}
{%- endfor -%}
{%- assign total_flag_pages = flag_pages | size -%}
{%- if total_flag_pages > 1 -%}
{%- capture language_selector_items -%}
{%- for flag_page in flag_pages -%}
{%- assign flag_page_language = flag_page.collection -%}
{%- include language_selector_item.html lang=flag_page_language page_url=flag_page.url -%}
{%- endfor -%}
{%- endcapture -%}
{%- include language_selector_container.html language_selector_items=language_selector_items -%}
{%- endif -%}
