{%- assign entry = include.item -%}
{%- case entry.platform -%}
  {%- when "youtube" -%}
    {%- assign icon_color = '#FF0000' -%}
  {%- when "github" -%}
    {%- assign icon_color = '#000000' -%}
  {%- when "telegram" -%}
    {%- assign icon_color = '#2AABEE' -%}
  {%- else -%}
    {%- assign icon_color = '#828282' -%}
{%- endcase -%}
<li>
  <a {% unless entry.platform == 'rss' %}rel="me" {% endunless %}href="{{ entry.url }}" target="_blank" title="{{ entry.title | default: entry.platform }}">
    <svg class="svg-icon" style="color: {{ icon_color }}">
      <use xlink:href="{{ '/assets/anurina-social-icons.svg#' | append: entry.platform | relative_url }}"></use>
    </svg>
  </a>
</li>
